<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="https://github.com/emilykocurek/splurty">Emily Kocurek</a>. Emily Kocurek is a web developer in training looking to use the skills gained through this course to transfer into programming full time. 
  </p>
  <br />
  <p>
    She is enjoying the challenge and learning so much in what feels like such a short amount of time already. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'emily.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Emily Kocurek</h2>
      <br />
      <p>
        Emily Kocurek is a IT Project Representative for Hochheim Prairie Insurance. She is training to increase her skill set on different programming languages, HTML/CSS, and web applications. 
      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />